body {
    font-family: 'Playfair Display', serif;
}
.navigation-bar {
    background : #26C281;
    color :white;
    padding : 1rm 0rm;
    border-right-style : 1 rm;

}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}